<h1>New comment</h1>

<%= turbo_frame_tag 'new_comment' do %>
  <div data-controller="comments">
    <%= form_with(model: [@post, Comment.new], data: { action: 'turbo:submit-end->comments#reset' }) do |form| %>
      <div>
        <%= form.text_area :content, data: { action: 'comments#inputChanged', 'comments-target': 'input' }, placeholder: 'Enter a comment' %>
      </div>

      <div>
        <%= form.submit 'data-comments-target': 'button' %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "Back to post", post_path(@post) %>